/*reset css*/
/*html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

table {border-collapse: collapse; border-spacing: 0;}
td, th, caption { font-weight: normal; text-align: left;}
img, fielset {border: 0;}
ol {padding-left: 1.4em;list-style: decimal;}
ul {padding-left: 1.4em;list-style: aquare;}
q:before, q:after {content:'';}
/* fin css reset */

/*@font-face {
    font-family: 'AlphaWomanHair';
    src:url('AlphaWomanHair.ttf.woff') format('woff'),
        url('AlphaWomanHair.ttf.svg#AlphaWomanHair') format('svg'),
        url('AlphaWomanHair.ttf.eot'),
        url('AlphaWomanHair.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}*/

#imghead{
    width: 70px;
    padding: 15px;
    Transform: translate (10px);
    Animation: float 7s ease-out infinite;

  }
  
  @keyframes float {
      0%{
            Transform: translateY (0px);
      }
      50%{
            Transform: translateY (100px);
      }
      100%{
            Transform: translateY (0px);
      }
  
  }

#div_ind{
    /*background-image: url(../imagenes/tablerohd3.jpg);*/
    /*background: var(--color-black);*/
    background-image: linear-gradient(
      115deg,
      rgba(11, 11, 11, 0.984),
      rgba(34, 34, 38, 0.766)
    ), url(../imagenes/tablerohd3.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 1px;
    margin-bottom: -20px;
    min-height: 550px; 
    height: 100%;   
}

#div_about{
    background-image: linear-gradient(
      115deg,
      rgba(11, 11, 11, 0.984),
      rgba(34, 34, 38, 0.766)
    ), url(../imagenes/tablerohd3.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 1px;
    margin-bottom: -20px;
    min-height: 550px;
}

#img_about{
    padding-left: 15rem;
}

#nav_ind a{
    background-color: black;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

#nav_ind{
    background-color: rgba(28, 25, 25, 0.96);
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
}

.nav{
    margin-right: 15px;
}

main h1{
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
}

main h2{
    color:#fffffc;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 10px;
    padding-top: 20px;
}

main h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin-right: 10px;
}

#h3_serv{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#p_serv{
    text-align: center;
}

main p{
    color:#fffffc;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 10px;  
}



label{
    color: white;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: block;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}


form{
    padding: 2.5rem;    
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

#form{
    margin-left: 5rem;
    margin-right: 5rem;
    background-color:  rgba(28, 25, 25, 0.525);
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }


input{
    background-color:  rgba(28, 25, 25, 0.96);
    position: relative;    
}

.input-textarea {
    min-height: 120px;    
    padding: 0.625rem;
    resize: vertical;
  }

.form-control {
    display: block;
    width: 100%;
    height: 2rem;
    padding: 0.375rem 0.75rem;
    color: white;    
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }  

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
    background-color:  rgba(28, 25, 25, 0.96);
    border: 1px solid #ced4da;
  }  

.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: inherit;
    color:  white;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 8px;
    
}
  


footer{
    background-color: rgba(28, 25, 25, 0.96);    
    color: gray;
}

footer a{
    font-size: 30px;
    margin-right: 10px;
}

footer h3{
    text-align: left;
    
    color: rgb(255, 255, 255);
}

footer div{
    text-align: left;
    margin-left: 0px;
}
#footer_ind{
    text-align: center;
    padding-top: 0px;
}

#footer_about{
    text-align: center;
    padding-top: 0px;
}



#footer_form{
    text-align: center;
    padding-top: 0px;
}

footer p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
}

#iframe{
   padding-left: 585px;
}
